:root {
    --background-color: #1a1a1a;
    --toolbar-color: rgba(60, 60, 60, 0.5);
    --text-color: #e0e0e0;
    --accent-color: #ffcc00;
    --button-color: rgba(60, 60, 60, 0.5);
    --button-hover-color: rgba(80, 80, 80, 0.5);
    --border-color: #4c4c4c;
    --button-border-color: #707070;
    --button-active-color: rgba(110, 110, 110, 0.5);
    --node-color: #ff5733;
    --node-hover-color: #ff8d33;
    --incorrect-color: rgb(255, 56, 85, 0.25);
    --correct-color: rgba(56, 255, 86, 0.25);
}

* {
    box-sizing: border-box;
}

html {
    width: 100vw;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    height: 100vh;
    overflow: hidden;
    position: relative;
    user-select: none;
}

#context-menu {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100px;
    width: fit-content;
    background-color: var(--toolbar-color);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 4;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.2s;
}

#context-menu.visible {
    pointer-events: all;
    opacity: 1;
}

.context-menu-item {
    padding: 10px;
    cursor: pointer;
    transition: 0.2s;
}

.context-menu-item:hover {
    background-color: var(--button-hover-color);
}

.curves {
    width: 100%;
    height: 100%;
    border: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 2;
}
.curves * {
    pointer-events: stroke;
}
.curves .hit {
    cursor: pointer;
}
.curve-node {
    pointer-events: fill;
    cursor: pointer;
    fill: var(--node-color);
}
.curve-node:hover {
    fill: var(--node-hover-color);
}
.no-pointer-events {
    pointer-events: none;
}

#level-window {
    position: absolute;
    top: 10px;
    left: 10px;
    width: fit-content;
    background-color: var(--toolbar-color);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 3;
    pointer-events: none;
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 90px;
}

#level-window h3 {
    margin-top: 0;
    margin-bottom: 0.25em;
}

#level-window h4 {
    margin-top: 0.25em;
    margin-bottom: 0;
}

#levelsButton {
    position: absolute;
    top: 20px;
    right: 20px;
    pointer-events: all;
    height: 50px;
    width: 50px;
    padding: 12px;
}

.sandboxButton {
    position: absolute;
    top: 25px;
    right: 25px;
}

.level-button {
    padding: 5px;
    margin: 25px;
    width: 50px;
    height: 50px;
    overflow: hidden;
    transition: 0.2s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.level-button.solved {
    background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20640%20640%22%3E%3C%21--%21Font%20Awesome%20Free%20v7.1.0%20by%20%40fontawesome%20-%20https%3A%2F%2Ffontawesome.com%20License%20-%20https%3A%2F%2Ffontawesome.com%2Flicense%2Ffree%20Copyright%202025%20Fonticons%2C%20Inc.--%3E%3Cpath%20fill%3D%22rgba%28110%2C%20110%2C%20110%2C%200.5%29%22%20d%3D%22M530.8%20134.1C545.1%20144.5%20548.3%20164.5%20537.9%20178.8L281.9%20530.8C276.4%20538.4%20267.9%20543.1%20258.5%20543.9C249.1%20544.7%20240%20541.2%20233.4%20534.6L105.4%20406.6C92.9%20394.1%2092.9%20373.8%20105.4%20361.3C117.9%20348.8%20138.2%20348.8%20150.7%20361.3L252.2%20462.8L486.2%20141.1C496.6%20126.8%20516.6%20123.6%20530.9%20134z%22%2F%3E%3C%2Fsvg%3E");
    background-size: contain;
}

.level-button:hover {
    width: 100px;
    height: 100px;
    margin: 0;
}

.level-button .main {
    transition: 0.2s;
}

.level-button:hover .main {
    font-size: large;
}

.level-button .name {
    width: 90px;
    max-height: 0px;
    overflow: hidden;
    max-width: 90px;
    transition: 0.2s;
}

.level-button:hover .name {
    max-height: 100px;
    margin-top: 20px;
}

.chapter-title {
    margin: 25px;
    font-weight: bold;
}

.chapter-container {
    display: flex;
}

#instructions-window, #sandbox-window {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 300px;
    background-color: var(--toolbar-color);
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 3;
    pointer-events: none;
}

#instructions-window h3, #sandbox-window h3 {
    margin-top: 0.5em;
    margin-bottom: 0.75em;
}

#instructions-window h4, #sandbox-window h4 {
    margin-top: 0.75em;
    margin-bottom: 0.75em;
}

#instructions-window p, #sandbox-window p {
    margin: 0;
    text-align: left;
}

#instructions-window table {
    width: 100%;
    border-spacing: 0px;
}

#instructions-window th, #instructions-window td {
    border: 1px solid var(--border-color);
    background-color: var(--input-field-background);
    padding: 5px;
}
#instructions-window tr:not(:first-child) th, #instructions-window tr td {
    border-top: none;
    padding-top: 6px;
}
#instructions-window th:not(:first-child), #instructions-window td:not(:first-child) {
    border-left: none;
    padding-left: 6px;
}
#instructions-window th:first-child {
    border-top-left-radius: 8px;
}
#instructions-window th:last-child {
    border-top-right-radius: 8px;
}
#instructions-window tr:last-child td:first-child {
    border-bottom-left-radius: 8px;
}
#instructions-window tr:first-child th {
    background-color: var(--button-color);
}
#instructions-window tr:last-child td:last-child {
    border-bottom-right-radius: 8px;
}

#toolbar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--toolbar-color);
    display: flex;
    justify-content: center;
    padding: 10px;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.3);
    z-index: 0;
}

.gate {
    background-color: var(--button-color);
    border: 2px solid var(--border-color);
    width: 60px;
    height: 60px;
    margin: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: grab;
    text-align: center;
    box-sizing: border-box;
    transition: background 0.2s;
}

.gate:hover {
    background: var(--button-hover-color);
}

.gate:active {
    cursor: grabbing;
}

.gate-instance {
    background-color: var(--button-color);
    border: 2px solid var(--border-color);
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: grab;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    outline: none;
    z-index: 1;
    transition: background-color 0.2s, scale 0.2s, opacity 0.2s, border-color 0.2s;
}

.gate-instance.focus {
    border-color: var(--button-border-color);
}

.gate-instance.deleted {
    scale: 50%;
    opacity: 0;
}

.gate-instance .nodes-container {
    position: absolute;
    height: 100%;
    width: 15px;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    pointer-events: none;
}
.gate-instance .nodes-left-container {
    left: 0;
    transform: translateX(calc(-50% - 1px));
}
.gate-instance .nodes-right-container {
    right: 0;
    transform: translateX(calc(50% + 1px));
}

.gate-instance .node {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: var(--node-color);
    cursor: pointer;
    pointer-events: all;
}

.gate-instance .node:hover {
    background-color: var(--node-hover-color);
}

.gate-instance.powered {
    background-color: var(--button-active-color);
}

.buttons-container {
    margin-top: 2em;
    margin-bottom: 0.5em;
    display: flex;
    justify-content: space-evenly;
}

#resetButton, #submitSolutionButton, #resetSandboxButton {
    pointer-events: all;
}

#hint-container {
    margin-top: 1em;
    text-align: left;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#hint-container #hint-text {
    height: 0;
    interpolate-size: allow-keywords;
    transition: height 0.2s;
    width: fit-content;
    cursor: pointer;
}

#hint-container.show #hint-text {
    height: fit-content;
}

#hint-button {
    color: var(--button-border-color);
    border-bottom: 1px dotted currentColor;
    height: 1em;
    display: inline-block;
    cursor: pointer;
    pointer-events: all;
    width: fit-content;
    transition: 0.2s color;
}

#hint-text {
    pointer-events: all;
}

#hint-container.show #hint-button, #hint-button:hover {
    color: var(--text-color);
}

button {
    padding: 10px 15px;
    background-color: var(--button-hover-color);
    border: none;
    border-radius: 4px;
    color: var(--text-color);
    cursor: pointer;
    font-weight: bold;
    transition: 0.2s;
}

button:hover {
    background-color: var(--button-active-color);
}

button:active {
    background-color: var(--button-border-color);
}

button.bad {
    background-color: rgba(255, 88, 51, 0.25);
}

button.bad:hover {
    background-color: rgba(255, 88, 51, 0.4);
}

button.bad:active {
    background-color: rgba(255, 88, 51, 0.55);
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    pointer-events: none;
    align-items: center;
    justify-content: center;
    display: flex;
    z-index: 1000;
    transition: 0.1s;
}
.popup-overlay.visible {
    opacity: 1;
    pointer-events: all;
    transition: 0.1s;
}
.popup-container {
    background: var(--background-color);
    border-radius: 8px;
    min-width: 500px;
    max-width: 75%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    transform: scale(75%);
    overflow: hidden;
    color: #e0e0e0;
    transition: 0.1s;
}
.popup-overlay.visible .popup-container {
    transform: none;
    transition: 0.1s;
}
.popup-header {
    padding: 10px 15px;
    background-color: var(--toolbar-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--border-color);
}
.popup-header .close {
    background: transparent;
    border: none;
    font-size: 18px;
    color: #e0e0e0;
    cursor: pointer;
}
.popup-body {
    position: relative;
}
.popup-footer {
    padding: 10px 15px;
    background-color: var(--toolbar-color);
    text-align: right;
    border-top: 1px solid var(--border-color);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.banner-notification {
    position: absolute;
    background-color: var(--toolbar-color);
    pointer-events: none;
    top: 0;
    left: 50%;
    transform: translate(-50%, -100%);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: fit-content;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s, top 0.2s;
}

.banner-notification.visible {
    transform: translate(-50%, 0);
    top: 10px;
}

#info-bar {
    display: flex;
    justify-content: space-between;
}

.tutorial-button {
    border: 1px dotted currentColor;
    border-radius: 50%;
    height: 1em;
    display: inline-block;
    cursor: pointer;
    width: fit-content;
    aspect-ratio: 1 / 1;
    pointer-events: all;
}

.error {
    color: var(--node-color);
}

.hide {
    opacity: 0;
    transition: opacity 0.2s;
}

.correct {
    background-color: var(--correct-color);
}

.incorrect {
    background-color: var(--incorrect-color);
}

kbd {
    border: 1px solid transparent;
    border-top-color: hsl(210, 8%, 80%);
    background-color: hsl(210, 4%, 27%);
    border-radius: 4px;
    color: hsl(210, 11%, 98%);
    display: inline-block;
    font-size: 11px;
    line-height: 1.5;
    margin: 0 0.1em;
    overflow-wrap: break-word;
    padding: 0.1em 0.6em;
    text-shadow: 0 1px 0 hsl(210, 3%, 15%);
    box-shadow: 0 1px 2px hsla(210, 8%, 5%, 0.75);
    white-space: nowrap;
}

.hidden {
    display: none;
}

@media (prefers-reduced-motion: reduce) {
    * {
        transition: none !important;
    }
}